#!name = TailgNoUpdate
#!desc = 台铃智能 - 屏蔽升级弹窗
#!author = fly


[mitm]
hostname = %APPEND% www.tailgdd.com

[rewrite_local]
# 台铃智能 - 屏蔽升级弹窗
^https?:\/\/www\.tailgdd\.com\/v1\/api\/app\/version\/getVersion(\?.*)?$ url script-response-body https://raw.githubusercontent.com/digkeeper/movieslist/refs/heads/main/tailg_no_update.js
